*{
color:aqua;
font-size: 30px;
background-color: pink;
border: 2px solid black;
}

div {
color: red;
}

p {
    color: orange;
    background-color: black;
}

.alert-txt{
    color: blue;
}

#Titulo{
    color:brown;
}

.read,unread{
    color: white;
    background-color: black;
}

.read{
  font-size: 15px;
}

.externo-a {
    border: 2px solid black;
  }
  
  .interno-a {
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
    background-color: blue;
  }
  
  .externo-b {
    border: 2px solid black;
    margin-top: 20px;
  }
  
  .interno-b {
    border: 1px solid red;
    padding: 10px;
    margin: 40px;
    background-color: orange;
  }