body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.modal {
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.2em;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.icon {
  margin-right: 10px;
}

.modal-footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
}

.d-flex .box3:nth-child(3){
  background: red;
}