.texto-injetado {
    margin-bottom: -25px;
    text-align: center;
    }
    .caixa {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
    }
    .caixa-amarela {
    background-color: yellow;
    padding: 10px;
    }
    .caixa-vermelha {
    background-color: crimson;
    color: #fff;
    padding: 20px;
    }
    .caixa-azul {
    background-color: blue;
    color: #fff;
    padding: 10px;
    }