body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
    padding: 5px;
    color: white;
}

p {
    font-size: 30px;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 380px;
    background-color: black;
    box-shadow: 1px 2px 12px;
    border-radius: 8px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 24px;
    font-size: 28px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    overflow: hidden;
}

.img-content {
    height: 600px;
    box-shadow: 1px 2px 12px;
    border-radius: 4px;
}

.container2,
.container3,
.container4 {
    display: flex;
    align-items: center;
    gap: 25px;
}

.container2,
.container4 {
    justify-content: space-between;
}

.container3 {
    flex-direction: row-reverse;
}

.music-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 12px;
    border-radius: 8px;
    padding: 30px;
    height: 535px;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 1px 2px 12px;
    border-radius: 8px;
    padding: 20px;
    gap: 10px;
}

.card {
    display: flex;
    box-shadow: 1px 2px 12px;
    border-radius: 8px;
    height: 330px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.card:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 380px;
    background-color: black;
    font-size: 20px;
    box-shadow: 1px 2px 12px;
    border-radius: 8px;
    padding: 5px;
    margin: 0;
}

.my-landing-page {
    color: white;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}