@import
url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header{
  background-color: rgb(31,41,55);
  color: white;
  display: flex;
  justify-content: space-between;
  gap:20px;
}

.footer{
  text-align: center;
  color:white;
  background-color: rgb(31,41,55);
  padding: 20px;
}

a {
  /*remove a linha sob nossos links */
  text-decoration: none;
  color: white;
  font-size: 12px;
}

li {
  list-style-type: none;
}

.logo, .ul-links-header{
  display: flex;
  justify-content: space-between;
  display: flex;
  margin: 5px;
  padding: 5px;
  gap: 12px;
}

.content-1{
 display: flex;
}
.content-1-1{
  background-color: #1f2937;
  color: white;
}
.content-1-2{
  background-color: #6d747d;
}

.content-3{
  background-color: #e5e7eb;
  padding: 10px ; 
  font-stretch:normal;
  padding: 30px;
  align-items: center;
  align-content: center;
  text-align: center;
}